@import url('https://fonts.googleapis.com/css2?family=Figtree:ital,wght@0,300..900;1,300..900&display=swap');

body {
    margin: 0;
    font-family: 'Figtree', sans-serif;
    background-color: #f9f9f9;
    color: #2c3e50;
}

.dashboard-container {
    padding: 20px;
    font-family: Arial, sans-serif;
}

.dashboard-header {
    text-align: center;
    margin-bottom: 20px;
}

.dashboard-header h1 {
    font-size: 2rem;
    font-family: 'Figtree', sans-serif;
    margin-bottom: 10px;
    color: #1cc440;
}

.dashboard-header p {
    font-size: 1.2rem;
    color: #333;
}

.navbar {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-bottom: 20px;
}

.nav-item {
    font-family: 'Figtree', sans-serif;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
    border: none;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}

.nav-item:hover {
    background-color: #1cc440;
    color: white;
}

.nav-item.active {
    background-color: #1cc440;
    color: white;
}

.card-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.card {
    font-family: 'Figtree', sans-serif;
    width: 100%;
    max-width: 250px;
    border: 2px solid #1cc440;
    border-radius: 8px;
    background-color: #528b4a;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    overflow: hidden;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
    margin-bottom: 20px;
    cursor: pointer;
}

.card:hover {
    transform: scale(1.05);
}

.import-card {
    background-color: #ffffff;
    color: #1cc440;
    cursor: pointer;
    font-weight: bold;
}

.plus-icon {
    font-size: 48px;
    font-weight: bold;
    margin-bottom: 10px;
}

.gallery {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 16px;
    padding: 16px;
}

.image {
    width: 100%;
    max-width: 300px;
    height: 200px;
    object-fit: cover;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: transform 0.3s ease;
}

.image-container {
    position: relative;
    display: inline-block;
    margin: 10px;
}

.download-btn,
.delete-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    opacity: 0;
    transition: opacity 0.2s ease-in-out;
}

.image-container:hover .download-btn,
.image-container:hover .delete-btn {
    opacity: 1;
}

.download-btn {
    background-color: #1cc440;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
}

.download-btn:hover {
    background-color: #1cc440c0;
}

.delete-btn:hover {
    background-color: #ff0000b0;
}


.delete-btn {
    background-color: #ff0000;
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 40px;
}